.designProject {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0.2px rgb(177, 177, 177);
    border-radius: 6px;
    margin-top: 4vh;
}

.designProject > .designProject_wrapper {
    width: 96%;
    margin: auto;
    display: flex;
    padding: 2vh 0;
}

.designProject_wrapper > .design_left {
    width: 5%;
    display: flex;
    margin-right: 10px;
    padding: 3px;
}

.design_left > .raundet {
    width: 25px;
    height: 25px;
    border: 2px solid rgba(129, 129, 129, 0.644);
    border-radius: 50%;
}

.designProject_wrapper > .design_right {
    width: 100%;
}

.design_right > .header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right > .interRightItem {
    display: flex;
    align-items: center;
}

.interRightItem > .clock_reminder {
    display: flex;
    align-items: center;
    border: 0.2px solid rgba(204, 204, 204, 0.267);
    padding: 2px 6px;
    
}
.design_right > .header_right > .interRightItem >.clock_reminder {
    border-radius: 20px;
    padding: 3px 10px;
    background-color: rgb(237,188,74);
    cursor: pointer;
}

.design_right > .header_right > .interRightItem  > .priority_reminder {
    display: flex;
    align-items: center;
    border: 0.2px solid rgba(66, 63, 63, 0.479);
    padding: 2px 6px;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
}

.design_right > .header_right > .interRightItem > .horizontalIcon {
    display: flex;
    align-items: center;
    border: 0.2px solid rgba(66, 63, 63, 0.479);
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
}

/* .interRight */
.design_right > .body_right {
    margin: 1.5vh 0 3vh 0;
}

.design_right > .body_right > p{
    font-size: 14px;
    color: rgba(73, 73, 73, 0.952);
}

/* profile_right */
/* .profile_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile_right > .profile1 {
    display: flex;
}

.profile1 > .image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.profile1 > .image > img {
    width: 100%;
    border-radius: 50%;
}

.profile1 > .clock {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.clock > p {
    margin-left: 6px;
}

.profile_right > .profile2 {
    display: flex;
}

.profile2 > .new_clent {
    width: auto;
    height: 30px;
   
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    transition: all 0.3s;
}

.profile2 > .new_clent:hover {
    box-shadow: 0px 0px 1px 1px grey;
}

.new_clent > span {
    margin-left: 6px;
    font-size: 14px;
}

.new_clent > p {
    font-size: 14px;
}

.profile2 > .progress_bar {
    width: auto;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    margin: 0 4px;
    transition: all 0.3s;
}

.profile2 > .progress_bar:hover {
    box-shadow: 0px 0px 1px 1px grey;
}

.profile2 > .comlete {
    width: auto;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    transition: all 0.3s;
}

.profile2 > .comlete:hover {
    box-shadow: 0px 0px 1px 1px grey;
}

.comlete > p {
    font-size: 14px;
}

.comlete > span {
    margin-right: 6px;
    font-size: 14px;
}

.profile2 > .comments {
    width: auto;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    margin-left: 4px;
    transition: all 0.3s;
}

.profile2 > .comments:hover {
    box-shadow: 0px 0px 1px 1px grey;
}

.comments > span {
    margin-right: 6px;
    font-size: 14px;
}

.comments > p {
    margin-right: 6px;
    font-size: 14px;
} */
