@font-face {
    font-family: Futura;
    src: url('../../fonts/Futura\ Condensed\ Extra\ Bold.otf');
}
.sidebar{
    width: 140px;
    height: 100vh;
    background-color: var(--sidebar-primary-color);
}

.sidebar__container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar__container > a{
    text-decoration: none;
}

.sidebar__collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.sidebar__collectionItem{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar__logo{
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.logo{
    font-family: Futura;
    color: var(--primary-color);
    font-size: 40px;
    letter-spacing: -6px;
    font-weight: bold;
}

.sidebar__collectionLink{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
    width: 80%;
    height: 60px;
}

.sidebar__collectionItem > svg{
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar__avatarContainer{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    margin: 0px auto;
    color: var(--primary-color);
    border: 1px solid red;
    text-align: center;
}

.sidebar__accountInfo > span{
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
}

.sidebar__avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.sidebar__premium{
    display: flex;
    align-items: center;
    color: var(--premium-color);
}

.sidebar__avatarPremium{
    font-weight: 500;
    color: var(--premium-color);
    padding: 10px 5px;
}

.active__sidebarLink{
    width: 80%;
    background-color: var(--primary-color);
    color: var(--sidebar-primary-color);
    border-radius: 10px;
}